<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094185473982-sq0afp31q021vfrt43dirh3duq55qlf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094185473982-sq0afp31q021vfrt43dirh3duq55qlf7</string>
	<key>API_KEY</key>
	<string>AIzaSyC8SGFb8L9xVlkab1r2bxzYBiz7UwM9NUM</string>
	<key>GCM_SENDER_ID</key>
	<string>1094185473982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braziusProductions.gardenPro</string>
	<key>PROJECT_ID</key>
	<string>gardenpro-270e4</string>
	<key>STORAGE_BUCKET</key>
	<string>gardenpro-270e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094185473982:ios:833f9f0d30c89869248bef</string>
</dict>
</plist>